@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{  padding-top: 20px;
    padding-bottom: 20px;}

body {
    background: linear-gradient( 90deg, #3862A2, #4AA4EE  );
}

.background-img{
    background-image: url("/img-menssage/imgdog02.jpg");
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #93BDC9 ;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #93BDC9 ;
    position: relative;
  }

.content h2 {
    font-family: 'Marhey', sans-serif;
    padding-top: 15px;
    font-size: 19px;
}

.content h3 {
    font-family: 'Marhey', sans-serif;
    padding-top: 15px;
    font-size: 15px;
}

.content button {
    background-color: #93BDC9;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    font-family: 'Marhey', sans-serif;
    padding: 5px;
    border-radius: 5px;

}

.content button:hover {
    background: linear-gradient( 70deg,  #3862A2, #93BDC9, #3862A2);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #3862A2;
    color: white;
    padding: 20px;
}

.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(red, green, blue, alpha);
    transition: 0.5s;
    pointer-events: none;
}

.box:hover::before {
    left: -50%;
    transform: skewX(-5deg);
}

.box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #F2E2C6;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5); 
  }

  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #93BDC9 ;
  animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 



